*.db
*.egg-info
*.mo
*.pyc
*.swp
*.swo
.coverage
.installed.cfg
.mr.developer.cfg
bin/
docs/_build
cover
develop-eggs/
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
downloads/
eggs/
etc/development.ini
etc/production.ini
parts/
var/
env/
.cache
priakwik.pid
